.stompscreen-container {
  font-family: monospace;
}

.btn {
  border: 0;
  outline: 0;
  height: 30px;
  width: 40px;
  padding: 0;
  margin: 0;
}
.controls {
  background-color: #1b1b1b;
  height: 30px;
  position: relative;
}
.controls .scrubber-container {
  position: absolute;
  margin-top: -3px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #777;
  height: 3px;
}
.controls .scrubber-container button {
  position: absolute;
  background: #4183c4;
  border: 3px solid #fff;
  border-radius: 8px;
  padding: 4px;
  top: -5px;
  outline: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transform: rotate(0deg);
  transform-origin: 50% 50% 0;
}
.controls .scrubber-container button:hover {
  border-color: #ccc;
  background: #2b6a93;
}
.controls .scrubber-container button:active {
  outline: 0;
}
.controls .scrubber-progress {
  height: 3px;
  background-color: #4183c4;
}
.controls .play-pause {
  border: 0;
  outline: 0;
  height: 30px;
  width: 40px;
  padding: 0;
  margin: 0;
  width: 60px;
}
.controls .play-pause.play {
  background: url('../images/stompdrop_icons_play.svg') no-repeat center center;
  background-size: 20px;
}
.controls .play-pause.pause {
  background: url('../images/stompdrop_icons_pause.svg') no-repeat center center;
  background-size: 20px;
}
.controls .tag-toggle {
  border: 0;
  outline: 0;
  height: 30px;
  width: 40px;
  padding: 0;
  margin: 0;
  background: url('../images/stompdrop_icons_tag.svg') no-repeat center center;
  background-size: 20px;
}
.controls .fullscreen {
  border: 0;
  outline: 0;
  height: 30px;
  width: 40px;
  padding: 0;
  margin: 0;
  background: url('../images/stompdrop_icons_fullscreen.svg') no-repeat center center;
  background-size: 20px;
}
.controls .buttons-right {
  float: right;
}
.stompscreen-container:hover .scrubber-container {
  height: 8px;
  margin-top: -8px;
}
.stompscreen-container:hover .scrubber-container button {
  opacity: 1;
}
.stompscreen-container:hover .scrubber-progress {
  height: 8px;
}
